
.VotingZone {
  width: 100%;
  height: 100%;
  background-color: #fff;
  
  display: flex;
  flex-direction: column;


  img {
    position: absolute;
    top: 0;
    right: 0;
    width: 5rem;
    height: 7rem;
    margin: .5rem;

    object-fit: contain;

    border: 1px dashed #0002;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    
    padding: 0.5rem;
    font-size: .8rem;
    span {
      display: inline;
      text-align: left;
      opacity: .5;
      font-size: .7rem;
    }
  }
  p {
    margin: 0;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  h2 {
    text-align: left;
    margin: 0;
    margin-left: 0.5rem;
    font-size: 1rem;
  }
  > h3 {
    margin: 0;
    text-align: center;
    text-transform: capitalize;
  }
  .idInsert {
    text-align: left;
    margin: 1rem;
    margin-top: 0;
  }

  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    hr {
      width: 100%;
      border: 1px solid #000;
    }
    p {
      text-align: left;
      font-size: .65rem;
      margin-left: 2rem;
      margin-bottom: 0.2rem;
    }
    h3 {
      font-size: .8rem;
      margin: 0;
      margin-left: .8rem;
      margin-bottom: 5px;
    }
  }
}