
.display {
  position: relative;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .3rem;


  .buttons {
    display: flex;
    align-items: flex-end;
    gap: .5rem;
  }

  header {
    height: 20%;
    width: 100%;
    border: 2px solid #0002;

    
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    img {
      width: 3.5rem;
      height: 3.5rem;
      filter: grayscale(1);
    }
    h1 {
      width: min-content;
      text-transform: uppercase;
      text-align: center;
    }
  }
  > div {
    background-color: #181818;
    background-image: url("texture.png");
    background-size: 50px;
    width: 100%;
    padding: 1rem 0;

    border: 4px solid #000d;
    border-right: 4px solid #000b;
    border-top: 4px solid #0002;
    border-left: 4px solid #0005;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}